body > .container {
    margin-top: 81px;
}

@media (min-width: 992px) {
    .sidebar {
        width: 213px;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        width: 263px;
    }
}

.navbar-right span {
    color: blue;
    margin-right: 5px;
}


.ad-text .thumbnail {
    display: inline-block;
    float: right;
    margin-bottom: 0;
}

.panel-footer {
    height: 60px;
}

.panel-footer .ad-date {
    display: inline-block;
}

.base-inputs .input-group-addon {
    width: 85px;
}

.contact-inputs .input-group-addon {
    width: 128px;
}

.date .input-group-addon {
    width: 120px;
    display: inline-block;
}

.login-form {
    max-width: 300px;
}


