<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ogłoszenia WMI</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../static/bootstrap/css/datepicker3.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/base.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
            {% block "header" %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/login">Tablica WMI</a>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Szukaj">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form> 
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>Jan Kowalski</a>
              <ul class="dropdown-menu">
                  <li><a href="/edit_personal_data">Edycja danych</a></li>
                  <li><a href="#">Przypomnij hasło</a></li>
                  <li><a href="#">Zmiana hasła</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Wyloguj</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#about" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-file"></span>Moje ogłoszenia</a>
              <ul class="dropdown-menu">
                  <li><a href="/new_ad">Nowe</a></li>
                  <li><a href="/published_ads">Opublikowane</a></li>
              </ul>
            </li>
            <li><a href="/watching_ads"><span class="glyphicon glyphicon-eye-open"></span>Obserwowane ogłoszenia</a></li>
          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-sm-3">
            <div class="sidebar affix">
              <div class="list-group">
                  {% block "left_menu" %}
                      <a href="#" class="list-group-item">Kategoria1<span class="badge">24</span></a>
                      <a href="#" class="list-group-item">Kategoria2<span class="badge">1</span></a>
                      <a href="#" class="list-group-item">Kategoria3<span class="badge">5</span></a>
                  {% endblock %}
              </div>
            </div>
          </div>
          <div class="col-sm-9">
              <!-- Main component for a primary marketing message or call to action -->
              {% block "content" %}
              {% endblock %}
          </div>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="../static/js/tinymce/tinymce.min.js"></script>
  </body>
</html>
