{% extends "base.html" %}
{% load website_tags %}
{% block "left_menu" %}
                      <a href="#" class="list-group-item">Kategoria1<span class="badge">24</span></a>
                      <a href="#" class="list-group-item">Kategoria2<span class="badge">1</span></a>
                      <a href="#" class="list-group-item">Kategoria3<span class="badge">5</span></a>
{% endblock %}

{% block "content" %}
{% comment %}
<h2>Nowe ogłoszenie</h2>
<form role="form">
	<div class="form-group">
		<div class="input-append date" id="dp3" data-date="" data-date-format="dd-mm-yyyy">
		  <span class="input-group-addon">Data publikacji</span>
		  <input class="span2" size="16" type="text" value="">
		</div>
		<div class="input-group">
		  <span class="input-group-addon">Tytuł</span>
		  <input type="text" class="form-control" placeholder="Tytuł" name="title">
		</div>
		<div class="input-group">
		  <span class="input-group-addon">Kategoria</span>
			<select class="form-control">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
		</div>
		<div class="input-group input-group-lg" style="">
		  <span class="input-group-addon">Treść</span>
		  <textarea class="form-control" cols="5" rows="10" style="height: auto;" id="MessageBox"></textarea>
		</div>
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	  </div>
</form>
{% endcomment %}
<h2>Dodaj nowe ogłoszenie</h2>
<div class="well">Pola oznaczone * są obowiązkowe</div>
{% if message_error %}
<div class="alert alert-danger">
<span class="glyphicon glyphicon-warning-sign">&nbsp;</span>
{{message_error}}
</div>
{% elif message_true %}
<div class="alert alert-success">
{{message_true}}
</div>
{% endif %}
<form method="POST">
	{% csrf_token %}
	<div class="form-group">
        <div class="input-append date" id="dp3" data-date="" data-date-format="yyyy-mm-dd">
            <label for="input-append date"><span class="glyphicon glyphicon-calendar">&nbsp;</span>Data publikacji&nbsp;*</label>
		  {{form.data_publikacji|add_class:"form-control"}}
        </div>
    </div>    
	<div class="form-group">
            <label for="exampleInputEmail1"><span class="glyphicon glyphicon-pushpin">&nbsp;</span>Tytuł ogłoszenia&nbsp;*</label>
		  {{form.tytul|add_class:"form-control"}}
    </div>
    <div class="form-group">
		  <label for="exampleInputEmail1"><span class="glyphicon glyphicon-list">&nbsp;</span>Wybierz kategorię&nbsp;*</label>
		  {{form.kategoria|add_class:"form-control"}}
    </div>
    <div class="form-group">
		  <label for="exampleInputEmail1"><span class="glyphicon glyphicon-comment">&nbsp;</span>Wpisz treść ogłoszenia&nbsp;*</label>
		  {{form.tresc|add_class:"form-control"}}
	</div>
    <div class="form-group">
		  <label for="exampleInputEmail1"><span class="glyphicon glyphicon-cloud-upload">&nbsp;</span>Załaduj zdjęcie</label>
		  {{form.photo|add_class:"form-control"}}
	</div>
	<button type="submit" class="btn btn-primary">Wyślij</button>
    <button type="reset"  class="btn btn-default">Wyczyść</button>
</form>

{% endblock %}
